html {
    font-size: 100%; /* 16px */
}

body {
    color: #24292e;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

/* header */
#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}